<ion-view title="Fale Conosco" id="page8" style="background-color:#17CEE7;">
    <ion-content padding="true" class="has-header">
        <div class="button-bar"></div>
        <form class="list">
            <label class="item item-input" name="name">
                <span class="input-label">Nome:</span>
                <input type="text" placeholder="">
            </label>
            <div class="spacer" style="width: 283px; height: 17px;"></div>
            <label class="item item-input">
                <span class="input-label">Email:</span>
                <input type="email" placeholder="">
            </label>
            <div class="spacer" style="width: 283px; height: 15px;"></div>
        </form>
        <div id="faleConosco-markdown3" style="color:#AD5E20;text-align:center;">
            <p>Envie seu feedback de duvida:</p>
        </div>
        <form class="list">
            <label class="item item-input">
                <span class="input-label"></span><textarea placeholder="Escreva aqui"> </textarea>
            </label>
        </form>
        <div id="faleConosco-markdown5" style="color:#000000;text-align:center;">
            <p>Se interessou em como entrar em uma etec? Acesse:
            </p>
        </div>
        <a href="#" onclick="window.open('https://www.vestibulinhoetec.com.br/home/', '_system', 'location=yes'); return false;" id="faleConosco-button11" class="button button-positive  button-block">vestibulinhoetec.com</a>
        <div>
            <p>
            </p>
            <h3>
                <center>Para mais informações acesse:

                    <p></p>
                </center>
            </h3>
        </div>
        <a href="#" onclick="window.open('http://etecdrc.com.br/', '_system', 'location=yes'); return false;" id="faleConosco-button10" class="button button-positive  button-block">etecdrc.com</a>
    </ion-content>
</ion-view>