<ion-view title="Pagina Inicial" id="page1" style="background-color:#17E762;">
    <ion-content padding="true" class="has-header">
        <div class="button-bar"></div>
        <div class="button-bar">
            <a ui-sref="menu.instituiO" id="paginaInicial-button6" class="button button-positive  button-block">Instiuição</a>
        </div>
        <a ui-sref="menu.projetoFinal" id="paginaInicial-button7" class="button button-positive  button-block">Produto</a>
        <a ui-sref="menu.faleConosco" id="paginaInicial-button8" class="button button-positive  button-block">Contato</a>
    </ion-content>
</ion-view>