<ion-view title="Projeto Final" id="page3" style="background-color:#D0DDDC;">
    <ion-content padding="true" class="has-header">
        <div>
            <img src="img/URM7mvIXRUCmrBhvkFFy_4204464756_d38c8c182c_z.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="projetoFinal-markdown11" style="color:#000000;">
            <p>Este projeto tem como intuito,fazer uma comunicação de horarios, Informar aos Professores e alunos seus respectivos "horarios de aula".</p>
        </div>
    </ion-content>
</ion-view>